<div class="custom-header">
  <img class="custom-header__background" src="assets/images/design_images/header-img.jpg"/>
  <div class="custom-header__main-text">
    <p>
      <span class="custom-header__main-text--regular">Potencia tu</span><span
        class="custom-header__main-text--bold">Presencia Digital</span>
    </p>
    <p class="custom-header__main-text--regular">Diseño web personalizado para ti</p>
  </div>
    <img class="custom-header__img" src="assets/images/design_images/header-icon3d.png"/>
</div>
