<div class="custom-header">
  <div class="custom-header__main-text">
    <p>
      <span class="custom-header__main-text--regular">Potencia tu</span><span
        class="custom-header__main-text--bold">Presencia Digital</span>
    </p>
    <p class="custom-header__main-text--regular">Diseño web personalizado para ti</p>
    <a class="custom-header__button" href="proyectos">Ver proyectos</a>
  </div>
    <img class="custom-header__img" src="assets/images/design_images/header-icon3d.png"/>
</div>
