<div class="services">
    <div class="services__item">
        <img src="assets/images/design_images/design-service.jpg" alt="#">
        <p class="services__item-text">Diseño web</p>
    </div>
    <div class="services__item">
        <img src="assets/images/design_images/text-service.jpg" alt="#">
        <p class="services__item-text">Textos profesionales</p>
    </div>
    <div class="services__item">
        <img src="assets/images/design_images/redesign-service.jpg" alt="#">
        <p class="services__item-text">Rediseño y Mantenimiento</p>
    </div>
    <div class="services__item">
        <img src="assets/images/design_images/seo-service.jpg" alt="#">
        <p class="services__item-text">SEO y Análisis</p>
    </div>
    <a class="custom-header__button" href="proyectos">Ver proyectos</a>
</div>
