<div class="services">
    <div class="services__item">
        <img src="../assets/images/ejem1.jpg" alt="#">
        <p class="services__item-text">Lorem Ipsum</p>
    </div>
    <div class="services__item">
        <img src="../assets/images/ejem.jpg" alt="#">
        <p class="services__item-text">Lorem Ipsum</p>
    </div>
    <div class="services__item">
        <img src="../assets/images/ejem.jpg" alt="#">
        <p class="services__item-text">Lorem Ipsum</p>
    </div>
    <div class="services__item">
        <img src="../assets/images/ejem1.jpg" alt="#">
        <p class="services__item-text">Lorem Ipsum</p>
    </div>
</div>