/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;

}


/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure>img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {

  >ul,
  >ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  >code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.orange {
  color: $orange-color;
}

.grey {
  color: $grey-color;
}

.svg-icon {
  width: 16px;
  height: 18px;
  display: inline-block;
  fill: currentColor;
  padding-right: 5px;
  vertical-align: text-bottom;
}

.social-media-list {
  li+li {
    padding-top: 5px;
  }
}


/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;

  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }

  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }

  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }

  td {
    border: 1px solid $grey-color-light;
  }
}

/*Custom styles*/
body {
  background: #FFF9E3;
}

.page-content {
  padding: 70px 0 !important;
}

//.page-link[href="/digital-portfolio/proyectos/"]{
//  display: none!important;
//}

article {
  padding-left: 3em !important;
  padding-right: 3em !important;
}

.site-header {
  padding: 0 3em;
  position: absolute !important;
  width: 100%;
  box-sizing: border-box;
  border-bottom: none !important;
  padding-top: 0.5em;
  z-index: 1000;
}

.site-title {
  font-weight: 800 !important;
}

.wrapper {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.home {
  padding: 40px;
}

.custom-header {
  background: linear-gradient(45deg, #c1590063, transparent), url("images/header-img.jpg");
  height: 90vh;
  width: 100%;
  color: #ffffff;
  border-radius: 20px;
  border: 10px solid #FFF9E3;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
  padding: 1em 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -70px;
  z-index: auto;
  align-items: center;
}

.custom-header__main-text {
  position: relative;
  line-height: 1;
}

.custom-header__main-text--regular {
  font-weight: 300;
  font-size: 3.5em;
  display: block;
}

.custom-header__main-text--bold {
  font-weight: 500;
  font-size: 4.8em;
}

.custom-header__main-text--regular:nth-last-of-type(1) {
  font-size: 2em;
  padding: 0 4px;
  margin-bottom: 20px;
}

.custom-header__button,
.site-nav .page-link,
.about__description-button,
.contact__description-button{
  background-color: #333333;
  color: #ffffff !important;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 25px;
  width: fit-content;
  cursor: pointer;
	border: none;
	margin-top: 5px;
}

.custom-header__img {
  padding: 0 1em;
  height: 80%;
  animation-name: identifier;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.services,
.projects {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -165px;
  margin-top: 20px;
}

.projects {
  top: initial;
}

.services__item,
.projects__item {
  background-color: #ffffff;
  width: calc(50% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
  border: 6px solid #ffffff;
  max-height: 500px;
}

.services__item img,
.projects__item img {
  height: 87%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.services__item-text,
.projects__item-text {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0;
  padding: 0.2em 0 0;

}

.text-banner {
  background-color: #ffffff;
  border: 10px solid #FFF9E3;
  border-radius: 20px;
  color: #755637;
  font-weight: 700;
  font-size: 3em;
  padding: 1em 0.5em;
  position: relative;
  top: -115px;
}

.text-banner::after {
  content: "";
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #333333;
  border-left: 50px solid transparent;
  position: absolute;
  bottom: 5px;
  right: 0.5em;
}

.text-banner::before {
  content: "";
  display: block;
  width: 2em;
  height: 2em;
  background: #E3AF47;
  border-radius: 50%;
  margin-right: -30px;
  margin-left: auto;
  position: absolute;
  right: 2.5em;
  bottom: -40px;
}

.about {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0 2em 2em;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.about__img {
  width: 30%;
}

.about__description {
  padding: 40px;
  width: calc(70% - 80px);
}

.about__description-text {
  font-weight: 400;
  font-size: 2.0em;
  white-space: pre-line;
}

.contact__description-text,
.success-message__text {
	font-size: 1.5em;
	white-space: pre-line;
}

.about__description-text span,
.contact__description-text span,
.success-message__text span
{
  font-weight: 700;
}

.about::before {
  content: "Conóceme";
  font-size: 4em;
  font-weight: 700;
  position: absolute;
  top: -80px;
  right: 60px;
}

.post-link {
  color: #755637 !important;
  font-weight: 800;
}

.site-footer {
  padding: 1em 3em !important;
  text-align: center;
}

.home {
  padding: 0 40px !important;
}

.home::before {
  content: "Blog";
  font-size: 4em;
  font-weight: 700;
}

.footer-col {
	float: initial!important;
}

/**Contact Page**/

.contact__form {
	display: flex;
	flex-direction: column;
}

.contact__form label {
	font-weight: 600;
}

.contact__form input {
	height: 2em;
	font-size: 1.1em;
	padding: 2px;
}

.contact__form textarea[name="message"] {
	height: 7em;
	font-family: inherit;
	font-size: 1.1em;
	padding: 6px 2px;
	resize: none;
} 

/**Success-Message Page**/

.success-message__img {
	width: 20%;
}

.success-message__text {
	margin-top: 1em;
}

.page-link[href="/success-message/"] {
	display: none;
}

@media screen and (max-width: 1000px) {

  .custom-header {
    height: 74vh;
    font-size: 9px;
  }

  .custom-header__img {
    display: none;
  }

  .custom-header__button,
  .site-nav .page-link,
  .about__description-button,
	.contact__description-button	{
    font-size: 20px;
  }

  .about__description-text, .contact__description-text {
    font-size: 1.5em;
  }

  .about::before {
    right: initial;
  }
}

@media screen and (max-width: 800px) {

  .custom-header,
  .services,
  .projects {
    font-size: 10px;
  }

  .text-banner {
    font-size: 2em;
  }

  .text-banner::after {
    border-right: 30px solid transparent;
    border-bottom: 62px solid #333;
    border-left: 31px solid transparent;
  }

  .services__item {
    max-height: 33vh;
  }

  .projects__item {
    width: 100%;
    max-height: 60vh;
  }

  .about {
    padding: 0 0.5em 0.5em;
  }

  .about__img {
    width: 60%;
    padding-top: 2em;
  }

  .about__description {
    padding: 20px;
    width: 100%;
  }

  .about__description-text, .contact__description-text {
    font-size: 1.3em;
    width: 100%;
  }

  .about::before,
  .home::before {
    font-size: 3em;
  }
}

@media screen and (max-width: 370px) {
  .site-title {
    font-size: 20px !important;
  }

  .about__description-text, .contact__description-text {
    font-size: 1.4em;
  }

  .services__item {
    width: 100%;
  }
}

/** Keyframes **/
@keyframes identifier {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}
